.git
.github
.gitignore
.dockerignore
docs
notebooks
examples
tests
*.ipynb_checkpoints
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
dist
build
*.egg-info
.venv
venv
.env
.envrc
.DS_Store
